.todo {
  width: 20.5rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  transform: translateY(-5.8rem);
  color: hsl(236, 9%, 61%);

  &__add,
  &__list,
  &__filters {
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  &__add {
    padding: 0.85rem 1.25rem;
    display: flex;
  }

  &__circle {
    border: 1px solid hsl(233, 11%, 84%);
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    transition: background-color 300ms ease-in-out;

    &--checked {
      background: rgb(71, 218, 255);
      background-image: url("../assets/icon-check.svg"),
        linear-gradient(
          163deg,
          rgba(71, 218, 255, 1) 0%,
          rgba(192, 88, 243, 1) 100%
        );
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:hover {
      background-color: hsl(220, 98%, 61%, 0.5);
    }
  }

  & form {
    width: 100%;
  }

  &__input {
    border: none;
    width: 100%;
    padding-left: 0.7rem;
    font-size: 0.75rem;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid hsl(233, 11%, 84%);
    font-size: 0.7rem;
    font-weight: 700;
    color: hsl(235, 19%, 35%);
    cursor: pointer;
    user-select: none;
    transition: background-color 300ms ease-in-out;

    &--checked {
      color: hsl(236, 9%, 61%);
      text-decoration: line-through;
      font-weight: 400;
    }

    &:hover {
      background-color: hsl(220, 98%, 61%, 0.1);
    }
  }

  &__title {
    padding-left: 0.75rem;
    padding-top: 0.25rem;
  }

  &__delete {
    margin-left: auto;
    height: 0.75rem;
    transition: transform 300ms ease-in-out;

    &:hover {
      filter: invert(22%) sepia(87%) saturate(4439%) hue-rotate(352deg)
        brightness(93%) contrast(130%);
      transform: rotate(360deg) scale(1.5);
    }
  }

  &__bottom-panel {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.25rem;
    font-size: 0.75rem;
    -webkit-box-shadow: 0px 12px 27px -17px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 12px 27px -17px rgba(66, 68, 90, 1);
    box-shadow: 0px 12px 27px -17px rgba(66, 68, 90, 1);
    border-radius: 0.5rem;

    & p:last-of-type {
      cursor: pointer;
    }
  }

  &__filters {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 12px 27px -17px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 12px 27px -17px rgba(66, 68, 90, 1);
    box-shadow: 0px 12px 27px -17px rgba(66, 68, 90, 1);

    & p {
      cursor: pointer;
    }
  }

  &__filter {
    padding-inline: 0.6rem;
    font-size: 0.85rem;

    &--current {
      color: hsl(220, 98%, 61%);
    }
  }

  &__info {
    font-size: 0.75rem;
    margin-top: 2rem;
    margin-inline: auto;
  }
}

@media (min-width: 700px) {
  .todo {
    width: auto;
    max-width: 34rem;

    &__add {
      height: 4rem;
      align-items: center;
    }

    &__input {
      font-size: 1rem;
    }

    &__list {
      margin-bottom: 0;
      border-radius: 0.5rem;
    }

    &__item {
      padding-block: 1.5rem;
      font-size: 1rem;
    }

    &__filters {
      transform: translateY(-100%);
      background: transparent;
      width: min-content;
      margin-inline: auto;
      box-shadow: none;
    }
  }
}
